h1{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}
h2{
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-align: center;
}
h3{
    color: steelblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    text-align: center;
}
p{
    color: forestgreen;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
ul{
    color: forestgreen;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    text-align: center;
}
ol{
    color: dodgerblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: small;
}   
.centered{
    text-align: center;
}
body{
    margin: auto;
    background-color: beige;
}
cloove.JPG{
    align-self: center;
}